127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

192.168.14.200 wtclient.vagrant.dev wtclient
192.168.14.201 wtserver.vagrant.dev wtserver
